---
import Layout from "../../layouts/Layout.astro";
import ListRecentPosts from "../../components/ListRecentPosts.astro";

import { getPostsByTag } from "../../lib/Posts";
import Pagination from "../../components/Pagination.astro";

const isTag = Astro.url.searchParams.get("tag");
const isSearch = Astro.url.searchParams.get("s");

const search = isTag || isSearch || "";
const tags = isTag ? search : [];

const { posts, hasNext, page } = await getPostsByTag({ tags, search, page: 1 });
---

<Layout title={`Resultados de ${search}`}>
  {
    posts.length === 0 ? (
      <div>
        <p>Por el momento no hay contenido que mostrar</p>
      </div>
    ) : (
      <div>
        <ListRecentPosts posts={posts} />

        {hasNext && <Pagination />}
      </div>
    )
  }
</Layout>

<script define:vars={{ page, search, tags, isTag }}>
  const $btnLoadMorePosts = document.getElementById("btn-loadMorePosts");
  const $posts = document.getElementById("posts");
  const $pagination = document.getElementById("pagination");

  let currentPage = page;

  if ($btnLoadMorePosts) {
    $btnLoadMorePosts.addEventListener("click", () => {
      fetch(
        `/api/searchPosts?${
          isTag ? `tags=${tags}` : `s=${search}`
        }&page=${++currentPage}`
      )
        .then((res) => res.json())
        .then((data) => {
          data.posts.map((post) => {
            const el = document.createElement("a");
            el.href = `/articulo/${post.slug}`;
            el.className = "animate-fadeIn";
            el.innerHTML = `
              <article
                class="bg-bg-base rounded-lg border-2 border-border overflow-hidden cursor-pointer transition-all hover:bg-bg-dark"
              >
                <div class="relative block pt-[56.25%]">
                  <img
                    src=${post.banner}
                    alt=${post.title}
                    class="absolute top-0 left-0 w-full h-full"
                  />
                </div>

                <div class="p-4">
                  <h2 class="text-xl font-bold mb-4">${post.title}</h2>

                  <footer class="flex gap-2">
                    ${post.tags
                      .map((tag) => {
                        return `<span class="bg-bg-alt rounded px-2 py-1 text-xs">${tag}</span>`;
                      })
                      .join(" ")}
                  </footer>
                </div>
              </article>
            `;

            $posts.appendChild(el);
          });

          if (!data.hasNext) {
            $pagination.classList.add("animate-fadeOut");
            setTimeout(() => {
              $pagination.remove();
            }, 200);
          }
        });
    });
  }
</script>
