---
interface Props {
  title: string;
  banner: string;
  slug: string;
  tags: string[];
}

const { title, banner, slug, tags } = Astro.props;
---

<a href={`/articulo/${slug}`}>
  <article
    class="bg-bg-base rounded-lg border-2 border-border overflow-hidden cursor-pointer transition-all hover:bg-bg-dark"
  >
    <div class="relative block pt-[56.25%]">
      <img
        src={banner}
        alt={title}
        class="absolute top-0 left-0 w-full h-full"
      />
    </div>

    <div class="p-4">
      <h2 class="text-xl font-bold mb-4">{title}</h2>

      <footer class="flex gap-2">
        {
          tags.map((tag) => {
            return (
              <span class="bg-bg-alt rounded px-2 py-1 text-xs">{tag}</span>
            );
          })
        }
      </footer>
    </div>
  </article>
</a>
